<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
</head>
<body>
<div class="container">
    <h2 class="text-center my-4">Lotto 수정</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form th:action="@{/future-lotto/edit/{id}(id=${lotto.id})}" method="post" class="card">
                <div class="card-body">
                    <input type="hidden" name="boxId" th:value="${lotto.boxId}">
                    
                    <div class="mb-3">
                        <label class="form-label">로또 번호</label>
                        <div class="row">
                            <div class="col-2" th:each="i : ${#numbers.sequence(1, 6)}">
                                <input type="number" class="form-control" 
                                       th:name="'numbers[' + ${i-1} + ']'"
                                       th:value="${lotto.numbers[i-1]}"
                                       min="1" max="45" required>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary me-2">수정</button>
                        <a th:href="@{/future-lotto/{id}(id=${lotto.id})}" class="btn btn-secondary">취소</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html> 